<div id="carouselExampleDark" class="carousel carousel-dark slide banner" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="https://st4.depositphotos.com/2001403/20595/i/600/depositphotos_205955334-stock-photo-back-school-background-pencils-apple.jpg"
                class="d-block w-100 slide" alt="...">
            <div class="carousel-caption d-none d-md-block">

            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="https://t4.ftcdn.net/jpg/03/32/05/99/360_F_332059997_pTIqpe37YPEADwKdVL0ZoAy1K1Qdm02R.jpg"
                class="d-block w-100 slide" alt="...">
            <div class="carousel-caption d-none d-md-block">

            </div>
        </div>
        <div class="carousel-item">
            <img src="https://t4.ftcdn.net/jpg/03/32/05/99/360_F_332059965_QVPVyWLuN6xehhYbUYd6M9W4dLwCku50.jpg"
                class="d-block w-100 slide" alt="..." data-bs-interval="2000">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
    </div>
    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button> -->
</div>