.slide {
    height: 400px;
}

.banner {
    margin-top: 40px;
}

.title {
    // float: left;
    margin-bottom: 20%;
}

.des {
    float: left;
    text-align: center;
}

#client-holder {
    background: #EDEBE4;
    padding: 105px 0;
    margin-bottom: 180px;
}

#client-holder .logo-wrap {
    max-width: 1000px;
    margin: auto;
}