<div class="wrapper">
    <header>
        <div class="row">
            <div class="col-lg-2">
                <img src="https://i.pinimg.com/170x/6b/62/20/6b6220e809e48ee2226f725edfcbc957.jpg" width="45%"
                    class="d-inline-block align-text-top logo">
            </div>
            <div class="col-lg-6">
                <div class="search__container">
                    <input class="search__input" type="text" placeholder="Search">
                </div>
            </div>
            <div class="col-lg-4">
                <a href="" class="font">ACCOUNT</a>
                <a href="" class="font">CART</a>
            </div>
            <hr class="hr-full">
        </div>
        <!--  -->
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ABOUT US</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">BOOKS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">NEW RELEASE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CONTACT US</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">BLOG</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div>