<button class="btn btn-danger"><a href="" class="btn1">Thêm Mới</a></button>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category Name</th>
      <th scope="col">Description</th>
      <th scope="col">Image</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>
        <img src="https://picsum.photos/150/150" alt="" width="50">
      </td>
      <td>
        <button class="btn btn-danger  ">Xóa</button>
        <button class="btn btn-primary m-2 ">Sửa</button>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>
        <img src="https://picsum.photos/150/150" alt="" width="50">
      </td>
      <td>
        <button class="btn btn-danger  ">Xóa</button>
        <button class="btn btn-primary m-2 ">Sửa</button>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>
        <img src="https://picsum.photos/150/150" alt="" width="50">
      </td>
      <td>
        <button class="btn btn-danger  ">Xóa</button>
        <button class="btn btn-primary m-2 ">Sửa</button>
      </td>
    </tr>
  </tbody>
</table>