<button class="btn btn-danger">Thêm Mới</button>
<table class="table table-striped">
   
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên Sách</th>
        <th scope="col">User</th>
        <th scope="col">Giá</th>
        <th scope="col">Mô tả</th>
        <th scope="col">Ảnh</th>

        <th scope="col">Chức Năng</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Duy</td>
        <td>Otto</td>
        <td>Waoo</td>
        <td>
            <img src="https://picsum.photos/120/150" alt="">
        </td>
        <td>
            <button class="btn btn-danger  ">Xóa</button>
            <button class="btn btn-primary m-2 ">sửa</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Duy</td>
        <td>Thornton</td>
        <td>Waoo</td>
        <td>
            <img src="https://picsum.photos/120/150" alt="">
        </td>
        <td>
            <button class="btn btn-danger  ">Xóa</button>
            <button class="btn btn-primary m-2 ">sửa</button>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>Duy</td>
        <td>the Bird</td>
        <td>Waoo</td>
        <td>
            <img src="https://picsum.photos/120/150" alt="">
        </td>
        <td>
            <button class="btn btn-danger  ">Xóa</button>
            <button class="btn btn-primary m-2 ">sửa</button>
        </td>
      </tr>
      
        
      
    </tbody>
  </table>
