<section id="quotation" class="align-center">
    <div class="inner-content">
        <h2 class="section-title divider">Quote of the day</h2>
        <blockquote data-aos="fade-up">
            <q>“The more that you read, the more things you will know. The more that you learn, the more places you’ll
                go.”</q>
            <div class="author-name">Dr. Seuss</div>
        </blockquote>
    </div>
</section>
<section id="latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header align-center">
                    <div class="title">
                        <span>Read our articles</span>
                    </div>
                    <h2 class="section-title">Latest Articles</h2>
                </div>

                <div class="row">

                    <div class="col-md-4">

                        <article class="column" data-aos="fade-up">
                            <figure>
                                <a href="#" class="image-hvr-effect">
                                    <img src="https://lh3.googleusercontent.com/iCS8s0r1igePUEdgVC1AygoZ1bsBG5JoNCrck1nDyY0YIDijDvucNYpga0chDW_tlDJrjy-Zyx6MBxiUDt4uqY7C1CPsXr2788IZaMKh7g"
                                        alt="post" class="post-image">
                                </a>
                            </figure>

                            <div class="post-item">
                                <div class="meta-date">Mar 30, 2021</div>
                                <h3><a href="#">Reading books always makes the moments happy</a></h3>
                            </div>
                        </article>

                    </div>
                    <div class="col-md-4">

                        <article class="column" data-aos="fade-down">
                            <figure>
                                <a href="#" class="image-hvr-effect">
                                    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRn28m9kFJreWQLK1pQL4SJi051NMZhsNJplUdLACd0Znx8uPiu"
                                        alt="post" class="post-image">
                                </a>
                            </figure>
                            <div class="post-item">
                                <div class="meta-date">Mar 29, 2021</div>
                                <h3><a href="#">Reading books always makes the moments happy</a></h3>
                            </div>
                        </article>

                    </div>
                    <div class="col-md-4">
                        <article class="column" data-aos="fade-up">
                            <figure>
                                <a href="#" class="image-hvr-effect">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQslp3GLPbQEs9XDBwYhzj4--L4qw_KYFrypQmMKpyXirje6Tzv"
                                        alt="post" class="post-image">
                                </a>
                            </figure>
                            <div class="post-item">
                                <div class="meta-date">Feb 27, 2021</div>
                                <h3><a href="#">Reading books always makes the moments happy</a></h3>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>