<form>
    <!-- Name book input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="form4Example1">Tên sách</label>
      <input type="text" id="form4Example1" class="form-control" placeholder="Book title"/>
    </div>
  
    <!-- Name User input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="form4Example2">User Name</label>
      <input type="email" id="form4Example2" class="form-control" placeholder="username"/>
      
    </div>

    <!-- Price input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="form4Example2">Giá</label>
      <input type="email" id="form4Example2" class="form-control" placeholder="price"/>
    </div>

    <!-- Image input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="form4Example2">Ảnh</label>
      <input type="file" id="form4Example2" class="form-control" placeholder="price"/>
    </div>
     <!-- Message input -->
     <div class="form-outline mb-4">
        <label class="form-label" for="form4Example3">Mô tả</label>
      <textarea class="form-control" id="form4Example3" rows="4" placeholder="message"></textarea>
     
    </div>
  
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Thêm Mới</button>
  </form>
