<section class="bg-sand padding-large">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <a href="#" class="product-image"><img src="{{product.image}}"></a>
            </div>

            <div class="col-md-6 pl-5">
                <div class="product-detail">
                    <h1 class="section-title">{{product.name}}</h1>
                    <p class="fic">Tác giả: {{product.author}}</p>
                    <span class="price">${{product.price}}</span>
                    <p class="description">
                        {{product.description}}
                    </p>
                    <div class="input-group il">
                        <p class="sl ">Quantity: </p>
                        <div class="d-flex w-50 justify-content-around">
                            <button style="border:2px solid black" class="btn btn-outline-secondary btn1"
                                (click)="decreaseQuantity()"> - </button>
                            <input type="text" value="1" class="form-control form1" min="1" max="100"
                                [(ngModel)]="quantity">
                            <button style="border:2px solid black" class="btn btn-outline-success btn1"
                                (click)="increaseQuantity()"> +
                            </button>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-danger cart">ADD TO CART</button>
                </div>
            </div>

        </div>
    </div>
    <hr>
    <div class="container mt-5">
        <div class="title">Comment</div>
        <div class="d-flex justify-content row">
            <div class="col-md-8">
                <div class="d-flex flex-column comment-section">
                    <div class="bg-white p-2">
                        <div class="d-flex flex-row user-info"><img class="rounded-circle"
                                src="https://i.imgur.com/RpzrMR2.jpg" width="60">
                            <div class="d-flex flex-column justify-content-start ml-2"><span
                                    class="d-block font-weight-bold name1">Marry Andrews</span><span
                                    class="date text-black-50">Shared publicly - Jan 2020</span></div>
                        </div>
                        <div class="mt-2">
                            <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                    <div class="bg-white">
                        <div class="d-flex flex-row fs-12">
                            <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span>
                            </div>
                            <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span
                                    class="ml-1">Comment</span>
                            </div>
                            <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light p-2">
                        <form>
                            <div class="d-flex flex-row align-items-start">
                                <img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                                <textarea class="form-control ml-1 shadow-none textarea"></textarea>
                            </div>
                            <div class="mt-2 text-right">
                                <button class="btn btn-primary btn-sm shadow-none" type="button">Post comment</button>
                                <button class="btn btn-outline-primary btn-sm ml-1 shadow-none"
                                    type="button">Cancel</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="featured-books">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header align-center">
                    <h2 class="section-title1">Similar Books</h2>
                </div>
                <div class="product-list" data-aos="fade-up">
                    <div class="row">
                        <div class="col-md-3" *ngFor="let product of products">
                            <figure class="product-style">
                                <img src="{{product.image}}" class="product-item">
                                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to
                                    Cart</button>
                                <figcaption>
                                    <h3><a routerLink="/product/{{product._id}}">{{product.name}}</a>
                                    </h3>
                                    <p class="name">Tác giả: {{product.author}}</p>
                                    <div class="item-price">${{product.price}}</div>
                                </figcaption>
                            </figure>
                        </div>
                    </div><!--ft-books-slider-->
                </div><!--grid-->
            </div><!--inner-content-->
        </div>
    </div>
</section>